/*Estudo sobre hierarquia e classes de elementos*/
body {
    font-family: sans-serif;
    color: green;
    font-size: 14px;
}
p {
    color: maroon;
    font-size: 14px;
}
h1,h2 {
    color: gray;
    font-size: 17px;
}
h1 {
    border-bottom: 1px black solid;
    font-size: 21px;
}
em {
    color: red;
    text-decoration: underline;
}
p.blueberry_bliss {
    color: purple;
}
p.cranberry_antioxidant {
    color: red;
}
p.green_tea {
    color: green;
}
p.raspberry_ice {
    color: blue;
}