body {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 160%;
}
h1, h2 {
    color: #007e7e;
}
h1 {
    font-size: 150%;
}
h2 {
    font-size: 130%;
}
p.guarantee {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #a7cece;
    padding: 25px;
    margin: 30px;
    line-height: 1.9em;
    font-style: italic;
    color: #444444;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



